.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  gap: 1rem;
  align-self: stretch;
  margin: auto;
}

.logo-wrapper {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

.logo img {
  width: 10.8125rem;
  height: 2.5rem;
  aspect-ratio: 173/40;
}
