.footer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 32px 0;
  background-color: var(--color-white);
  width: 100%;
}

/* --- ESTILOS MOBILE --- */
.footer-content {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrarem de linha */
  justify-content: space-between; /* Empurra os ícones para a esquerda e a logo para a direita */
  align-items: center;
  gap: 24px 0; /* Gap vertical entre a primeira e a segunda linha */
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--spacing-container);
  padding-right: var(--spacing-container);
}

/* 1ª Linha - Esquerda */
.social-links {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  height: 24px;
}

/* 1ª Linha - Direita */
.logo-empresa {
  order: 2;
}

/* 2ª Linha - Abaixo ocupando 100% da largura */
.footer-title,
.footer-title a {
  order: 3;
  width: 100%; /* Força o bloco a ir para a linha de baixo */
  flex: none; /* Desativa a expansão individual flex no mobile */
  color: #949494 !important;
  text-align: center;
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0175rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  transition: opacity 0.2s ease;
}

.social-links a:hover {
  opacity: 0.6;
}

.social-links svg {
  width: 24px;
  height: 24px;
  display: block;
  color: rgba(25, 25, 254, 1);
}

/* --- ESTILOS DESKTOP --- */
@media (min-width: 768px) {
  .footer {
    padding: 64px 0;
  }

  .footer-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }

  /* Restaura a ordem padrão no desktop */
  .social-links,
  .footer-title,
  .logo-empresa {
    order: initial;
    width: auto;
  }

  .footer-title {
    flex: 1 0 0;
  }
}
