.banner-container {
  display: flex;
  /* height: 19.25rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
  padding: 2.5rem 4rem 6.75rem 4rem;
}

.marquee-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem 3rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.logo-item {
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 1.875rem;
  object-fit: contain;
}
.banner-text {
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 1.8125rem */
  letter-spacing: -0.00625rem;
  padding: 6.75rem 4rem 0 2.5rem;
}
/* tablet */
@media (max-width: 1024px) {
  .banner-text {
    padding: 4rem 4rem 2.5rem 4rem;
  }
  .banner-container {
    padding-bottom: 4rem;
  }
}

/* celular */
@media (max-width: 768px) {
  .banner-container {
    display: flex;
    max-height: 16rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-shrink: 0;
    align-self: stretch;
    padding-bottom: 4rem;
  }
  .banner-text {
    padding-bottom: 0;
  }

  .marquee-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 1.25rem 1.75rem;
  }

  .logo-item {
    flex: 0 0 calc(33.333% - 1.25rem);
    min-width: 5.5rem;
    height: 2rem;
  }
}
